.App{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

body{
    background: linear-gradient(white, rgb(141, 141, 239));
    width: 100%;
    height: 100%;
    font-style: italic;
    font-weight: bold;
    
}

.App{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh;
}

.books{
    display: flex;
    gap: 1vh;
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
    align-items: center;
}

img{
    width: 30vh;
    height: 50vh;
    object-fit: cover;
    background-color: rgb(168, 168, 238);
    border: 0.5vh solid white;
    border-radius: 5vh;
}

.delete{
    background-color: rgb(239, 80, 80);
    cursor: pointer;
    color: white;
}

.update{
    background-color: rgb(231, 237, 101);
    cursor: pointer;
}

.add{
    background-color: rgb(101, 237, 119);
    cursor: pointer;
}

button .update a, button .add a {
    text-decoration: none;
    color: white; /* Ensure link text is white */
}

button:hover {
    opacity: 0.2; 
}

.desc{
    border: none;
    color: white;
    font-size: larger;
}

.title{
    text-decoration: underline;
    color: white;
    font-size: xx-large;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

input{
    border: 0.5vh solid rgb(161, 161, 237);
    width: 40vh;
    height: 7vh;
}

button{
    border: 0.5vh solid rgb(239, 239, 247);
    border-radius: 5vh;
    width: 40vh;
    height: 7vh;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size:larger;
    margin: 1vh 0;
}

h1{
    font-size:5vh;
    font-style:normal;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(168, 168, 238);
}

.price{
    font-weight: bolder;
    font-size:5vh;
    color: white;
}


